- var year = new Date().getFullYear();
// Footer
hr
footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        //- ul.list-inline.text-center
        //-   li
        //-     a(target='_blank',href='https://twitter.com/#{twitter}')
        //-       span.fa-stack.fa-lg
        //-         i.fa.fa-circle.fa-stack-2x
        //-         i.fa.fa-twitter.fa-stack-1x.fa-inverse
        //-   li
        //-     a(target='_blank',href='https://facebook/#{facebook}')
        //-       span.fa-stack.fa-lg
        //-         i.fa.fa-circle.fa-stack-2x
        //-         i.fa.fa-facebook.fa-stack-1x.fa-inverse
        //-   li
        //-     a(target='_blank',href='https://github.com/#{github}')
        //-       span.fa-stack.fa-lg
        //-         i.fa.fa-circle.fa-stack-2x
        //-         i.fa.fa-github.fa-stack-1x.fa-inverse
        p.copyright.text-muted Copyright © #{site_title} #{year}
