-var post = public.posts._data.posts[current.source]
-var getBackgroundImage = function(){
-   var post = public.posts._data.posts[current.source];
-   if(!post || !post.backgroundImage){
-     return backgroundImage;
-    }else{
-     return post.backgroundImage;
-   }
-}
-var prettyDate = function prettyDate(dateString){
-   return new Date(dateString).toDateString().slice(4);
-}
-var heading = title || site_title;
// Page Header
// Set your background image for this header on the line below.
header.intro-header(style="background-image: url('#{getBackgroundImage()}')")
 .container
   .row
     .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
       div(class=(post)? "post-heading" : "site-heading")
         if post
          h1 #{post.title}
          span.subheading #{post.description}
          span.meta
            | Posted by&nbsp
            a(href='#')
              != public.posts._data.authors[post.author].name
            |  on #{prettyDate(post.date)}
         else
           h1 #{heading}
           hr.small
           span.subheading #{subheading}
